@{
    ViewBag.Title = "Hakkımızda";
}
<h2>@ViewBag.Title.</h2>


<h3>Hazırlayanlar</h3>
<ul>    
    <li>Fırat Çağlar AKBULUT</li>
    <li>Semih BOZDEMİR</li>
    <li>Burak ÖZEN</li>
    <li>Cem ÇOBAN</li>
</ul>
