@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ege Üniversitesi<br />
    Bilgisayar Mühendisliği<br />
</address>

<address>
    <strong>Destek:</strong>   <a href="firat.caglar.akbulut@gmail.com<">firat.caglar.akbulut@gmail.com</a><br />
</address>