@{
    ViewBag.Title = "Ana Ekran";
}

<div class="jumbotron">
    <h1>ÖĞRENCİ BİLGİ SİSTEMİ</h1>
    <p class="lead">Software Engineering dersi için ASP.NET ile hazırlanmış öğrenci bilgi sistemi.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ders</h2>
        <p>
            Ders sekmesinden ders ekleyip çıkarabilirsiniz. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Öğrenci</h2>
        <p>Öğrenci sekmesinden yeni öğrenci girişi yapabilir, öğrenci - ders kayıtlanması oluşturabilirsiniz.</p>
    </div>
    <div class="col-md-4">
        <h2>Öğretim Görevlisi</h2>
        <p>Yeni öğretim görevlisi kaydı girmek için 'Öğretim Görevlisi' sekmesine tıklayın.</p>
    </div>
</div>